{% extends 'base.html' %}
{% block content%}
  Здесь будет информация о группах проекта Yatube
{% endblock %}
  <body>
    <header>
      {% include 'includes/header.html' %}     
    </header>
    <main>
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">     
        <p>{{ group.title }}</p>
        <h1>{{ group.description }}</h1>
        {% for post in posts %}
          <article>
            <ul>
              <li>
                Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{post.pub_date|date:"j F Y"}}
            </li>
          </ul>      
          <p>
           {{ post.text }}
          </p>
          {%if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      </div>
{% endblock %}        
      </div>  
    </main>
    <!-- Использованы классы бустрапа: -->
    <!-- border-top: создаёт тонкую линию сверху блока -->
    <!-- text-center: выравнивает текстовые блоки внутри блока по центру -->
    <!-- py-3: контент внутри размещается с отступом сверху и снизу -->         
    <footer class="border-top text-center py-3">
      {% include 'includes/footer.html' %}   
    </footer>
  </body>
  